<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 modulo">
      <div class="row">
        <div class="col-md-4 imgproductos">
          <img src="assets/product-01.jpg" alt="" srcset="">
        </div>
        <div class="col-md-8 textos">
          <div class="titulo">Galleta Quaker Galletas</div>
          <div class="descripcion">Galleta De Avena Pasas, 180 Gramo(s).</div>
          <div class="row">
            <div class="col-md-5 precio">$ 4.520</div>
            <div class="col-md-2 precio">+</div>
            <div class="col-md-3 precio">
              <input type="text" class="form-control" placeholder="1">
            </div>
            <div class="col-md-2 precio">-</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 botoncomprar">
      <div class="suma">555</div>
      <div class="comprarahora">Agregar</div>
    </div>
  </div>
</div>